option_settings:
  - namespace: aws:cloudformation:template:parameter
    option_name: InstancePort
    value: 5000

Resources:
  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
      Listeners:
        - InstancePort: 5000
          LoadBalancerPort: 80
          Protocol: TCP
        - InstancePort: 5000
          LoadBalancerPort: 5000
          Protocol: TCP
      AvailabilityZones:
        - us-west-2a
          us-west-2b
          us-west-2c
      HealthCheck:
        Timeout: 5
        Target: TCP:5000
        Interval: 30
        HealthyThreshold: 3
        UnhealthyThreshold: 5
